aiohappyeyeballs==2.6.1 ; python_version >= "3.11" and python_version < "4.0"
aiohttp==3.13.2 ; python_version >= "3.11" and python_version < "4.0"
aiomqtt==2.4.0 ; python_version >= "3.11" and python_version < "4.0"
aiooui==0.1.9 ; python_version >= "3.11" and python_version < "4.0" and platform_system == "Linux"
aiosignal==1.4.0 ; python_version >= "3.11" and python_version < "4.0"
annotated-types==0.7.0 ; python_version >= "3.11" and python_version < "4.0"
anyio==4.12.0 ; python_version >= "3.11" and python_version < "4.0"
attrs==25.4.0 ; python_version >= "3.11" and python_version < "4.0"
bleak-retry-connector==4.4.4 ; python_version >= "3.11" and python_version < "4.0"
bleak==2.0.0 ; python_version >= "3.11" and python_version < "4.0"
blinker==1.9.0 ; python_version >= "3.11" and python_version < "4.0"
bluetooth-adapters==2.1.1 ; python_version >= "3.11" and python_version < "4.0" and platform_system == "Linux"
certifi==2025.11.12 ; python_version >= "3.11" and python_version < "4.0"
cffi==2.0.0 ; python_version >= "3.11" and python_version < "4.0" and platform_python_implementation != "PyPy"
cryptography==46.0.3 ; python_version >= "3.11" and python_version < "4.0"
dbus-fast==3.1.2 ; python_version >= "3.11" and python_version < "4.0" and platform_system == "Linux"
frozenlist==1.8.0 ; python_version >= "3.11" and python_version < "4.0"
h11==0.16.0 ; python_version >= "3.11" and python_version < "4.0"
httpcore==1.0.9 ; python_version >= "3.11" and python_version < "4.0"
httpx==0.28.1 ; python_version >= "3.11" and python_version < "4.0"
idna==3.11 ; python_version >= "3.11" and python_version < "4.0"
multidict==6.7.0 ; python_version >= "3.11" and python_version < "4.0"
paho-mqtt==2.1.0 ; python_version >= "3.11" and python_version < "4.0"
prometheus-client==0.23.1 ; python_version >= "3.11" and python_version < "4.0"
propcache==0.4.1 ; python_version >= "3.11" and python_version < "4.0"
pycparser==2.23 ; python_version >= "3.11" and python_version < "4.0" and platform_python_implementation != "PyPy" and implementation_name != "PyPy"
pydantic-core==2.41.5 ; python_version >= "3.11" and python_version < "4.0"
pydantic==2.12.5 ; python_version >= "3.11" and python_version < "4.0"
pyobjc-core==12.1 ; python_version >= "3.11" and python_version < "4.0" and platform_system == "Darwin"
pyobjc-framework-cocoa==12.1 ; python_version >= "3.11" and python_version < "4.0" and platform_system == "Darwin"
pyobjc-framework-corebluetooth==12.1 ; python_version >= "3.11" and python_version < "4.0" and platform_system == "Darwin"
pyobjc-framework-libdispatch==12.1 ; python_version >= "3.11" and python_version < "4.0" and platform_system == "Darwin"
pyopenssl==25.3.0 ; python_version >= "3.11" and python_version < "4.0"
pyswitchbot==0.74.0 ; python_version >= "3.11" and python_version < "4.0"
pytimeparse2==1.7.1 ; python_version >= "3.11" and python_version < "4.0"
ruamel-yaml-clib==0.2.15 ; python_version >= "3.11" and python_version < "3.14" and platform_python_implementation == "CPython"
ruamel-yaml==0.18.16 ; python_version >= "3.11" and python_version < "4.0"
typing-extensions==4.15.0 ; python_version >= "3.11" and python_version < "4.0"
typing-inspection==0.4.2 ; python_version >= "3.11" and python_version < "4.0"
uart-devices==0.1.1 ; python_version >= "3.11" and python_version < "4.0" and platform_system == "Linux"
usb-devices==0.4.5 ; python_version >= "3.11" and python_version < "4.0" and platform_system == "Linux"
winrt-runtime==3.2.1 ; python_version >= "3.11" and python_version < "4.0" and platform_system == "Windows"
winrt-windows-devices-bluetooth-advertisement==3.2.1 ; python_version >= "3.11" and python_version < "4.0" and platform_system == "Windows"
winrt-windows-devices-bluetooth-genericattributeprofile==3.2.1 ; python_version >= "3.11" and python_version < "4.0" and platform_system == "Windows"
winrt-windows-devices-bluetooth==3.2.1 ; python_version >= "3.11" and python_version < "4.0" and platform_system == "Windows"
winrt-windows-devices-enumeration==3.2.1 ; python_version >= "3.11" and python_version < "4.0" and platform_system == "Windows"
winrt-windows-devices-radios==3.2.1 ; python_version >= "3.11" and python_version < "4.0" and platform_system == "Windows"
winrt-windows-foundation-collections==3.2.1 ; python_version >= "3.11" and python_version < "4.0" and platform_system == "Windows"
winrt-windows-foundation==3.2.1 ; python_version >= "3.11" and python_version < "4.0" and platform_system == "Windows"
winrt-windows-storage-streams==3.2.1 ; python_version >= "3.11" and python_version < "4.0" and platform_system == "Windows"
yarl==1.22.0 ; python_version >= "3.11" and python_version < "4.0"
